* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-size: 1rem;
}

#container {
    display: flex;
    width: 100%;
}

#first {
    border: none;

    width: 35%;
    height: 90vh;
    margin-left: 10px;
    margin-top:10px;
}

.grid_container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 50px 50px;
    background-color: green;
    padding: 10px;
}

.button {
    background-color: #bbb;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.big_btn {
    width: 300px;
    height: 100px;
}



.grid-container {
    display: grid;
    grid-template-areas: "button1 button5 button3"
                         "button4 button5 button2";
    grid-gap: 5px;
}

.grid-item:nth-child(1) {
    grid-area: button1;
}

.grid-item:nth-child(2) {
    grid-area: button2;
}

.grid-item:nth-child(3) {
    grid-area: button3;
}

.grid-item:nth-child(4) {
    grid-area: button4;
}

.grid-item:nth-child(5) {
    grid-area: button5;
}