:root {
    /* setting initial variables for font-sizes to maintain readability */
    --large-font-size: 2.25rem;
    --medium-font-size: 1.75rem;
    --small-medium-font-size: 1.4rem;
    --small-font-size: 1rem;

}

body {
    /* standard formatting of all pages will be centered using flex with mild offsets */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline-offset: -50px;
    min-height: 100vh;
}

h3 {
    /* all headers will be set as follows */
    font-weight: 300;
    font-size: var(--large-font-size);
    text-align: center;
}

h2 {
    /* all titles will be set as follows */
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
}

/* colors indicating level of understanding */

#confused {
    color: red
}

#okay {
    color: orange
}

#understanding {
    color: green
}

#tracking {
    /* tracking button will be designed as follows */
    color: white;
    background-color: darkgreen;
    margin: 0px;
}

input[type="text"] {
    /* textbox will have border made to look constant and made wider and rounded; font is altered and overall shape is more stable */
    display: flex;
    border-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: var(--medium-font-size);
    transition: .3s all;
}

/* buttons will not appear in the beginning */

#sign-out,
#sign-in,
#continue {
    opacity: 0
}

p {
    /* standard text will be set to this font and alignment */
    font-size: var(--small-medium-font-size);
    text-align: center
}

 /* buttons will be on default set pink and centered - they will also be rounded and given small transitions for dynamicity */

button {
    background-color: rgb(241, 216, 254);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    font-size: var(--medium-font-size);
    cursor: pointer;
    border: none;
    transition: .3s all;
}

button:hover {
    transform: translate(0, -3px);
}

button:hover:active {
    transform: translate(0, 1px);
}

/* customizing buttons that allow students to detail understanding */

#understanding_button {
    background-color: rgb(50, 190, 50);
}

#okay_button {
    background-color: rgb(233, 126, 5);

}

#confused_button {
    /* starts off auto-selected because later JS will change it back into deselected on first select */
    background-color: rgb(129, 41, 41);
    border: solid 2px;
}

input[type="radio"] {
    /* setting standard appearance of radio buttons as follows */
    appearance: none;
    width: var(--medium-font-size);
    height: var(--medium-font-size);
    border: 0.15rem solid black;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: relative;
}

/* radio button transitions to show small dyanimicity */

input[type="radio"]::before {
    content: "";
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: blue;
    transform: scale(0);
    transition: .2s all;
}

input[type="radio"]:checked::before {
    transform: scale(1);

}

.container_vert {
    /* container used to hold elements vertically with mild spacing */
    display: flex;
    flex-direction: column;
    box-shadow: turquoise;
    padding: 10px;
    gap: 20px;
    font-size: var(--medium-font-size);
    align-items: center
}

.button-grid {
    /* container used to hold buttons in grid used in student confusion elaboration page */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.container_hori {
    /* container used to hold elements horizontally with mild spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: turquoise;
    padding: 10px;
    gap: 20px;
    font-size: var(--medium-font-size);
    height: 100px;
    width: 100px;
}

.radio-selection {
    /* radio selection set to proper align and display type */
    display: flex;
    align-items: center;
    gap: 5px;
}

#myChart {
    /* editing library settings of  charge*/
    display: flex;
    width: 25em
}

/* detailing design of plain black table for final data page for teacher  */

table {
    color: black;
    border-collapse: collapse;
    text-align: center
}

tr {
    border: solid 5px darkblue
}

th {
    padding: 10px;
}

caption {
    padding: 10px
}

/* standardizing margins across different elements */

#session_code {
    margin: 10px;
}

#hows_class {
    margin: 10px;
}

#end_session_button {
    margin: 0px;
}

/* setting intro element to cover entire screen and disappear on click -- only for logo*/

.splash {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0);
    transition: all ease-in-out 600ms;
}

.hidden{
    transition : 0.5s;
    display : none;
  }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* align and spacing for titles on intro page */

.title {
    color: yellow;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 5rem;
    text-align: center;
    margin: 10px;
}

.subtitle {
    color: yellow;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2rem;
    text-align: center
}

.subsubtitle {
    color: yellow;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1rem;
    text-align: center
}