:root {
    --large-font-size: 2.25rem;
    --medium-font-size: 1.75rem;
    --small-medium-font-size: 1.4rem;
    --small-font-size: 1rem;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-weight: 300;
    font-size: var(--large-font-size);
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
}

#confused {
    color: red
}

#okay {
    color: rgb(182, 172, 77)
}

#understanding {
    color: green
}

#code_enter {
    display: flex;
    border-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: var(--medium-font-size);
    cursor: pointer;
    transition: .3s all;
}

button {
    background-color: rgb(241, 216, 254);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    font-size: var(--medium-font-size);
    cursor: pointer;
    border: none;
    transition: .3s all;
}

#sign-out,
#sign-in,
#continue {
    opacity: 0
}

p {
    font-size: var(--small-medium-font-size);
    text-align: center
}



#understanding_button {
    background-color: rgb(50, 190, 50);
    display: block;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    font-size: var(--medium-font-size);
    cursor: pointer;
    border: none;
    transition: .3s all;
}


#okay_button {
    background-color: rgb(240, 150, 50);
    display:block;
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    font-size: var(--medium-font-size);
    cursor: pointer;
    border: none;
    transition: .3s all;
}

#confused_button {
    background-color: rgb(190, 50, 50);
    display: block;
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    font-size: var(--medium-font-size);
    cursor: pointer;
    border: none;
    transition: .3s all;
}

button:hover {
    transform: translate(0, -3px);
}

button:hover:active {
    transform: translate(0, 1px);
}

input[type="radio"] {
    appearance: none;
    width: var(--medium-font-size);
    height: var(--medium-font-size);
    border: 0.15rem solid black;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: relative;
}

input[type="radio"]::before {
    content: "";
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: blue;
    transform: scale(0);
    transition: .2s all;
}

input[type="radio"]:checked::before {
    transform: scale(1);

}

.container_vert {
    display: flex;
    max-width: 800px;
    max-height: 800px;
    flex-direction: column;
    box-shadow: turquoise;
    padding: 10px;
    gap: 20px;
    font-size: var(--medium-font-size);
}

.container_hori {
    display: flex;
    max-width: 800px;
    max-height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: turquoise;
    padding: 10px;
    gap: 20px;
    font-size: var(--medium-font-size);
}

.radio-selection {
    display: flex;
    align-items: center;
    gap: 5px;
}

#myChart {
    display: flex;
    width: 25em
}